@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0; /* Xóa lề mặc định */
    padding: 0; /* Xóa đệm mặc định*/
    box-sizing: border-box; /* Dễ kiểm soát kích thước*/
    scroll-behavior: smooth;
}
body{
    background-color:black; 
    font-family: "Roboto", sans-serif; /* ap dung toan trang*/
    width: 100%; /* chieu cao bang man hinh lap*/
    min-height: 100vh; /* nhu tren*/
    color:white;
    overflow-y: overlay;
}

a {
    text-decoration: none;
    color: #fff;
}

::-webkit-scrollbar{ /*áp dụng cho toàn trang thanh cuộn cao-rộng 8px*//*độ dày của thanh cuộn*/
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    padding: 2px;
}
::-webkit-scrollbar-thumb{/*áp dụng cho nút cuộn*/
    background-color:darkgrey;
    border-radius: 100px;/*kích thước bo tròn mạnh*/
}
.topHeadlines .right .topNews::-webkit-scrollbar{ 
    width: 6px; /*srollbar của topnews có độ rộng=6*/
}



.header{
    position: fixed; /*cố định phần new và menu khi cuộn xuống k bị khuất*/
    display: flex; 
    justify-content: space-between;/*giãn đều các phần tử theo chiều ngang*/
    align-items: center;/*căn giữa các ptu theo chiều dọc*/
    width: 100%; 
    padding: 20px 50px;
    background-color: #0b0b11;
    transition: 0.3;
}
.logo{
    font-size: 45px;
    font-weight: 700;
    cursor: pointer; /*khi rê chuột, con trỏ có hình bàn tay*/
}
nav ul{
    display: flex; /* bien thanh menu home, sports,.. thanh 1 dong ngang 
    và có căn chỉnh khoảng cách giữa các ptử*/
}
nav div.bar{
    display: none;
    position: absolute;
    right:  50px;
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
}
nav div.bar.active .open{
    display: none;
}
nav div.bar .close{
    display: none;
}
nav div.bar.active .close{
    display: initial;
}
nav ul li{
    list-style: none; /* xoa dau cham tron dau dong cua home, sports,..*/
    margin: 0 15px; /*tao khoang cach giua cac muc home, sports.. trenduoi=0, traiphai=15*/
    padding: 0 10px; /*vung bam chuot*/
    border-left: 1px solid black; /* dong duong gach doc 2 ben chu home, sports..*/
    border-right: 1px solid black;
    transition: 0.3s; /*hieu ung chuyen doi cac tab muot 0.3s de do bi lag*/
}
nav ul li:hover{
    border-left: 1px solid white; /* nhấn mạnh dg gạch 2 bên mỗi khi rê chuột vào sẽ hiện*/
    border-right: 1px solid white;
}
nav ul li a{
    text-decoration: none;/* bỏ gạch chân của home, sports,..*/
    color: white; /* chu home sports.. mau trang*/
    letter-spacing: 1px;/* giãn chữ thêm*/
}
.topHeadlines{
    padding: 100px 50px 50px;/*khoang cach ben trong tu vien vao noi dung. tren:100px,trai-phai:50,duoi:50*/
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr; /* chia 2 cot, cot1=1.5, cot2=1*/
}
.topHeadlines .left{
    padding: 10px 30px; /*khoach cach tren-duoi:10, trai-phai:30*/
    /*background-color: darkgray; */
}
.topHeadlines .left > .title{
    font-size: 20px; /*font tiede*/
    padding: 15px; /*kcach ben trong cho tieude trenduoitraiphai 15*/
    text-align: center;/*can giua theo chieu ngang*/
}
.topHeadlines .left .img{
    width: 100%;
    height: 400px;
    background-color:brown;
}
.topHeadlines .left .text{
    padding: 20px 15px 10px; /* kcach ndung voi anh, tren=20, trai-phai=15, duoi=10*/
}
.topHeadlines .left .text .title a{
    font-size: 20px;
    letter-spacing: 1px; /*khoach cach giua cac chu*/
    display: inline;
    cursor: pointer; /* khi re chuot chon tro se tro thanh ban tay*/
}
.topHeadlines .left .text .title a:hover{
    text-decoration: underline; /*gạch chân dong trong the h2*/
}
.topHeadlines .left .text .description{
    font-size: 15px;
    margin-top: 10px;/*khoach cach ben ngoai voi dong tren*/
    color: white;
    letter-spacing: 1px;    
}
.topHeadlines .right{
    padding: 10px;    
    width: 1005;/****taisaokcopx****/
    height: 500px;
    background-color:black;
}
.topHeadlines .right > .title h2{
    font-size: 20px; /*font tiede*/
    padding: 15px; /*kcach ben trong cho tieude trenduoitraiphai 15*/
    text-align: center;/*can giua theo chieu ngang*/  
}
.topHeadlines .right .topNews{
    padding: 7px;
    height :85%;
    border: 1px solid white; /*tao vien co do day 1px*/
    border-radius: 4px; /*bo tron goc, px cang to -> goc bo tron cang lon*/
    overflow-y: scroll ;
}
.topHeadlines .right .topNews .news{
    display:grid;
    grid-template-columns: auto auto; /*chia bang topheadlines thanh 2 cot. auto là trình duyệt tự tính và chia*/
    align-items: center; /*can giua theo chieu doc*/    
    margin-bottom: 20px;/*tao khoach cach voi phan tu(cac khung bao) o duoi*/
}
.topHeadlines .right .topNews .news .img{
    width: 170px;
    height: 120px;
    background-color:brown;

}

.topHeadlines .right .topNews .news .text{
    margin-inline: 10px;
    display: flex;
    align-items: center;
}
.topHeadlines .right .topNews .news .text .title{
    font-size: 16px;
    cursor: pointer;
}
.topHeadlines .right .topNews .news .text .title:hover{
    text-decoration: underline;/*gach chan chu*/
}
.page2{
    width: 100%;
    background-color:#16161d;
    min-height: 100vh; /*chiều cao ngang bằng màn hình*/
    padding: 50px;
}
.page2 .news{
    padding: 30px 0;  
    border-bottom: 1px solid black;

}
.page2 .news:last-child{
    padding: 30px 0;  
    border-bottom: none;
}
.page2 .news > .title h2{
    font-size: 40px;
    cursor: pointer;
    display: inline;
}
.page2 .news > .title h2:hover{
    text-decoration: underline;
}
.page2 .news .newsBox{
    width: 100%;  
    margin-top: 20px;/*tạo khoảng cách bên ngoài, giữa tiêu đề và nội dung phía trên*/
    display: flex;
}
.page2 .news .newsBox .newsCard{
    width: calc(100% / 5 - 20px);
    margin: 20px;
}
.page2 .news .newsBox .newsCard .img{
    width: 100%;
    height: 150px;
    background-color: crimson;    
}
.page2 .news .newsBox .newsCard .img img{
    width: 100%;
    height: 100%;
}
.page2 .news .newsBox .newsCard .text{
    padding: 10px;
}
.page2 .news .newsBox .newsCard .text .title p{
    font-size: 15px;
    display: inline; 
    cursor: pointer;   
}
.page2 .news .newsBox .newsCard .title p:hover{
    text-decoration: underline;
}
.footer{
    width: 100%;
    padding: 50px 50px 0px;    
    background-color:#0a0a18;
    min-height: 200px;
}
.footer .box{
    width: 100%;
    height: 1000%;
    /*background-color:darkgrey;*/
    /*display: grid;*/
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
.footer .box .left{
    /*background-color:hotpink;*/
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}
.footer .box .left .categories >p {
    font-size: 28px;
    margin-bottom: 30px;
}
.footer .box .left .categories div{
    margin-bottom: 15px;
    color: darkgray;
    width: max-content;
}
.footer .box .left .categories div p{
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transition: 0.3;
}
.footer .box .left .categories div p:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.footer .contact p{
    font-size: 28px;
    margin-bottom: 30px;
}
.footer .contact div{
    font-size: 17px;
    margin-bottom: 15px;
    color: #aaa;
}
.footer .icon{
    margin-top: 20px;
    padding: 20px;
}
.footer .icon i{
    font-size: 25px;
    margin-right: 20px;
    color:darkgrey;
    cursor: pointer;
    transition: 0.3s;
}
.footer .icon i:hover{
    color:white;
    transform: scale(1.2);
}
.footer .newsletter p{
    font-size: 25px;
    margin-bottom: 30px;
}
.footer .newsletter .email{
    display: flex;
}
.footer .newsletter .email input{
    width: 400px;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}
.footer .newsletter .email button{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.footer .newsletter .email button:hover{
    color: black;
    background-color: white;
}
.footer .copyrights{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}
@media (max-width:1024px) {
    .topHeadlines .right .topNews .news .img{
        width: 150px;
    }
    .topHeadlines .right .topNews .news .text .title{
        font-size: 14px;
    }
    .page2 .news .newsBox .newsCard .img{
        height: 120px;
    }
    .page2 .news .newsBox .newsCard .text{
        padding: 5px;
    }
    .page2 .news .newsBox .newsCard .text .title p{
        font-size: 14px;
    }
    .footer .box .left .categories >p {
        font-size: 25px;
    }
    .footer .contact p{
        font-size: 25px;
    }
    .footer .newsletter p{
        font-size: 25px;
    }
    .footer .newsletter .email input{
        width: 300px;
    }
    .footer .newsletter .email button{
        padding: 10px 20px;
        font-size: 14px;
    }
    .footer .box .left .categories div p{
        font-size: 18px;
    }
    .footer .contact div{
        font-size: 15px;
    }
}
@media (max-width:768px){
    nav div.bar{
        display:block;
    }
    nav ul{
        opacity: 0;
        position: absolute;
        background-color: black;
        flex-direction: column;
        right: -40px;
        padding: 30px 40px 10px;
        text-align: center;
        pointer-events: none;
        border-radius: 10px;
    }
    nav ul.activeMenu{
        opacity: 1;
        pointer-events: all;
    }
    nav ul li{
        margin: 10px 0;
    }
    .topHeadlines{
        display: blocks;
    }
    .topHeadlines .right .topNews .news .img{
        width: 220px;
    }
    .topHeadlines .right .topNews .news .text .title{
        font-size: 18px;        
    }
    .page2 .news .newsBox .newsCard{
        width: calc(100% / 3 - 20px);
    }   
    .footer .box{
        grid-template-columns: none;
    }                                                                                                            
    .footer .box .right{
        grid-row-start: 1;
        margin-bottom: 40px;
    }
    .footer .box .left{
    justify-content: space-between;
    }
}
@media (max-width:600px){
    .logo{
        font-size: 45px;
    }
    .topHeadlines .left{
        padding: 10px 0px;
    }
    .topHeadlines .right .topNews .news .img{
        width: 150px;
    }
    .page2 .news .newsBox .newsCard{
        width: calc(100% / 2 - 2-px)
    }
    .footer .newsletter .email .input{
        width: 300px;
        font-size: 14px;
    }
    .footer .newsletter .email button{
        padding: 8px 15px;
        font-size: 14px;
    }
    .footer .newsletter p{
        font-size: 22px;
    }
    .footer .box .left .categories > p{
        font-size: 22px;
    }
    .footer .contact p{
        font-size: 22px;
    }
    .footer .copyright{
        font-size: 14px;
    }
}